/* * {
    border: 1px solid green;
} */

:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/space.png');
    padding: 3rem 0rem;
    background-repeat: no-repeat;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 242, 0.5);
    color: rgb(49, 49, 49);
    padding: 0px 1rem;
    text-align: center;
    width: 15rem;
    border-radius: 0.3rem;
}

header img {
    border-radius: 1rem;
    padding-bottom: 2rem;
}

header h1 {
    margin-bottom: 0px;
    width: 100%;
}

header p {
    margin-top: 0px;
}

ul {
    list-style: none;
}

.selectHeaderText {
    display: none;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/space.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.projects img {
    width: 35rem;
    padding-bottom: 1rem;
}

.projects ul {
    padding-left: 0px;
}

article {
    background-color: rgba(255, 255, 242);
}

.postImage {
    background-image: url('images/react.png');
    background-size: cover;
    background-position-y: -8.5rem;
    height: 3rem;
    padding: 0rem;
}

.post2Image {
    background-image: url('images/code.png');
    background-size: cover;
    background-position-y: -8.5rem;
    height: 3rem;
    padding: 0rem;
}
