* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#EBD2CF;
}

header {
    background-color: #CBD4D1;
    margin: 0;
    color: #F7F7F5;
    border-bottom: 10px solid #B9C2A3;
    display: flex;
}

header li {
    margin: 0.5rem;
}

section {
    color: #F7F7F5;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.nav-menu i {
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

/* hide the close mobile menu icon on initial page load */
i.close-mobile-menu-icon {
    display: none;
}

i.burger-icon-menu {
    display: block;
}

.nav-list {
    list-style: none;
    height: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
    opacity: 0;
    /* display: none;  */
    /* -webkit-transition:all .26s ease-in-out;
    -moz-transition:all .26s ease-in-out;
    -ms-transition:all .26s ease-in-out;
    -o-transition:all .26s ease-in-out; */
    transition:all 2s ease-in-out;
}

.nav-list.open {
    height: 7rem;
    opacity: 1;
    /* transition:all 2s ease-in-out;  */
}

a {
    color: #F7F7F5;
    text-decoration: none;
}

h1, figure, section {
    text-align: center;
}

.headshot {
    width: 30%;
    height: 20%;
    padding: 0.5rem;
    border-radius: 50%;
}

.about-me p {
    margin: 0 3rem;
    line-height: 1.5;
}

.my-work img {
    width: 80%;
}

.my-work figcaption {
    background-color: #CBD4D1;
    border: 1px solid #fff;
    position: relative;
    width: 35%;
    bottom: 3rem;
    left: 5rem;
}

.contact-me ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* .contact-me ul li {
    border-bottom: 5px solid #B9C2A3;
} */

footer {
    background-color: #CBD4D1;
    border-top: 5px solid #B9C2A3;
    text-align: center;
    color: #F7F7F5
}

footer p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 4rem;
    }

    header li {
        display: inline;
        margin: 2.5rem
    }

    i.burger-icon-menu {
        display: none;
    }

    i.close-mobile-menu-icon {
        display: none;
    }
    
    .nav-list {
        display: inline;
        opacity: 1;
    }

    .headshot {
        width: 20%;
        padding-left: 2rem;
    }

    .about-me {
        display: flex;
        align-items: center;
    }

    .about-me section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 4rem;
    }

    .about-me p {
        margin: 0;
    }

    .my-work {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .my-work section {
        border-left: 5px solid #B9C2A3;
    }

    .my-work ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        margin: 0 auto;
        width: 70%;
    }

    .first-project {
        grid-column: span 2;
    }

    .my-work img {
        width: 100%;
    }

    .my-work figure {
        position: relative;
    }

    .my-work figure:hover {
        cursor: pointer;
    }

    .my-work figcaption {
        position: absolute;
        bottom: 10px;
    }

    .my-work a::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        bottom: 0;
        opacity: 0;
        transition: all 0.5s ease-out;
        background: #CBD4D1;
    }

    .my-work a:hover::before {
        height: 100%; 
        opacity: 0.8
    }  

    .contact-me {
        display: flex;
    }

    .contact-me h2 {
        width: 30%;
    }

    .contact-me ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        border-left: 5px solid #B9C2A3;

    }


}

/* @media screen and (min-width: 992px) {
    
    .my-work span {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .my-work li:nth-child(3) {
        position: relative;
        bottom: 0rem;
    }

    .my-work li:nth-child(4) {
        position: relative;
        top: -14.3rem;
    }
} */