body {
    margin: 0;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: #CBD4D1; */
    background-color:#EBD2CF;
}

header {
    /* background-color: #F53B00; */
    background-color: #CBD4D1;
    margin: 0;
    color: #F7F7F5;
    border-bottom: 10px solid #B9C2A3;
    display: flex;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.nav-menu i {
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

/* hide the close mobile menu icon on initial page load */
i.close-mobile-menu-icon {
    display: none;
}

.nav-list {
    list-style: none;
    height: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
    opacity: 0;
    /* display: none;  */
    /* -webkit-transition:all .26s ease-in-out;
    -moz-transition:all .26s ease-in-out;
    -ms-transition:all .26s ease-in-out;
    -o-transition:all .26s ease-in-out; */
    transition:all 2s ease-in-out;
}

.nav-list.open {
    height: 7rem;
    opacity: 1;
    /* transition:all 2s ease-in-out;  */
}

li {
    display: inline;
    margin: 0.5rem 2rem;
}

a {
    color: #F7F7F5;
    text-decoration: none;
}

h1, figure, section {
    text-align: center;
}

.headshot {
    width: 30%;
    height: 20%;
    padding: 0.5rem;
    border-radius: 50%;
}

.about-me p {
    margin: 0 3rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

/* .my-work a:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    background: linear-gradient(to bottom, transparent 0%, #CBD4D1 100%);
}

.my-work a:hover:before {
    /* height: 100%; 
    opacity: 0.8
} */

figcaption {
    position: relative;
    left: 8%;
    bottom: 4rem;
    border: 1px solid;
    padding: 1rem;
    width: 20%
}

/* .first-figcaption {
    left: 4%;
    width: 20% !important;
} */

.my-work ol {
    padding-left: 0;
}

.my-work ol figcaption {
    width: 35%;
    background-color: #CBD4D1;
}

.my-work span figcaption {
    width: 40%;
    background-color: #CBD4D1;
}

section {
    /* background-color: #CBD4D1; */
    /* border-top: 10px solid #FE8946; */
    color: #F7F7F5
}

.contact-me ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* .contact-me ul li {
    border-bottom: 5px solid #B9C2A3;
} */

footer {
    background-color: #CBD4D1;
    border-top: 5px solid #B9C2A3;
    text-align: center;
    color: #F7F7F5
}

footer p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 4rem;
    }

    i.burger-icon-menu {
        display: none;
    }

    i.close-mobile-menu-icon {
        display: none;
    }
    
    .nav-list {
        display: inline;
        opacity: 1;
    }

    .headshot {
        width: 20%;
        padding-left: 2rem;
    }

    .about-me {
        display: flex;
        align-items: center;
    }

    .about-me section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 4rem;
    }

    .about-me p {
        margin: 0;
    }


    .my-work {
        display: flex;
        /* height: 60rem; */
    }

    .my-work h2 {
        width: 30%;
    }

    .my-work ol {
        border-left: 5px solid #B9C2A3;
        width: 70%;
        margin: 0 auto;
        /* overflow: scroll; */
    }

    .my-work span {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2.5rem;
        position: relative;
        bottom: 8.2rem;
    }

    .my-work span li {
        margin: 0;
    }

    .my-work li:nth-child(3) {
        position: relative;
        bottom: 3.5rem;
    }

    .my-work li:nth-child(4) {
        position: relative;
        bottom: 3.5rem;
    }

    .my-work span figure {
        margin: 0;
    }

    .first-figcaption {
        left: 4%;
        width: 20% !important;
    }

    .contact-me {
        display: flex;
    }

    .contact-me h2 {
        width: 30%;
    }

    .contact-me ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        border-left: 5px solid #B9C2A3;

    }

    /* .my-work ol figcaption {
        width: 35%;
        background-color: #CBD4D1;
    }

    .my-work span figcaption {
        width: 40%;
        background-color: #CBD4D1;
    } */
}

/* setting following media query because image layout breaks between these viewport sizes */

/* @media only screen and (max-width: 750px) and (min-width: 700px) {
    .my-work li:nth-child(3) {
        bottom: 4.7rem;
    }

    .my-work li:nth-child(4) {
        bottom: 4.7rem;
    }

    .my-work span figcaption {
        width: 37%
    }
} */