body {
    margin: 0;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    /* background-color: #F53B00; */
    background-color: #FE8946;
    margin: 0;
    color: #F7F7F5;
    border-bottom: 10px solid #CDA867;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

i {
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: none; 
    /* transition:all 2s ease-in-out; */
}

nav ul.open {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
}

li {
    display: inline;
    margin: 0.5rem 2rem;
}

a {
    color: #F7F7F5;
    text-decoration: none;
}

h1, figure, section {
    text-align: center;
}

.headshot {
    width: 30%;
    border-radius: 50%;
}

img {
    width: 100%;
}

figcaption {
    position: relative;
    left: 8%;
    bottom: 4rem;
    border: 1px solid;
    padding: 1rem;
    width: 20%
}

section {
    background-color: #CBD4D1;
    /* border-top: 10px solid #FE8946; */
    color: #F7F7F5
}

.contact-me ul {
    display: flex;
    flex-direction: column;
}

.contact-me ul li {
    border-bottom: 5px solid #FE8946;
}

footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    i.burger-icon-menu {
        display: none;
    }
    
    nav ul {
        display: inline;
    }

    .about-me {
        display: flex;
    }

    .about-me section{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .my-work {
        display: flex
    }

    .contact-me {
        display: flex;
    }

    .contact-me h2 {
        width: 30%;
    }

    .contact-me ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        border-left: 5px solid #FE8946;

    }

    .my-work h2 {
        width: 30%;
    }

    .my-work ol {
        border-left: 5px solid #FE8946;
        width: 70%;
        margin: 0 auto;
    }

    .my-work span {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2.5rem;
        position: relative;
        bottom: 8.2rem;
    }

    .my-work span li {
        margin: 0;
    }

    .my-work li:nth-child(3) {
        position: relative;
        bottom: 3.5rem;
    }

    .my-work li:nth-child(4) {
        position: relative;
        bottom: 3.5rem;
    }

    .my-work span figure {
        margin: 0;
    }

    .my-work span figcaption {
        width: 35%
    }
}